<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find cr_gazebo)" />
  <arg name="namespace" default="/" />
  <arg name="world_name" default="empty_world" />
  <arg name="cmd_timeout" default="0.5" />

  <!-- Vehicle pose -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

    <!-- Create the world. -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">

       <arg name="world_name" value="$(arg world_name)"/>
       <arg name="gui" default="true"/>
    </include>

</launch>

